<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.step.template.main.mapper.MoviesMapper">

    <resultMap id="BaseResultMap" type="com.step.template.main.entity.Movies">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="year" column="year" jdbcType="INTEGER"/>
            <result property="rating" column="rating" jdbcType="FLOAT"/>
            <result property="ratingsum" column="ratingsum" jdbcType="INTEGER"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="genre" column="genre" jdbcType="VARCHAR"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,year,
        rating,ratingsum,img,
        tags,summary,genre,
        country
    </sql>
</mapper>
