<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douban.mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="com.douban.model.Comments">
            <result property="personname" column="personName" jdbcType="VARCHAR"/>
            <result property="movieid" column="movieId" jdbcType="INTEGER"/>
            <result property="info" column="info" jdbcType="VARCHAR"/>
            <result property="islike" column="islike" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        personName,movieId,info,
        islike
    </sql>

</mapper>
